{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-header text-center bg-transparent pt-3 border-0">
                <h3 class="fw-bold text-white" style="font-family: 'Oswald', sans-serif;">🔐 LOGIN</h3>
            </div>
            <div class="card-body">
                <form method="POST">
                    <div class="mb-3">
                        <label>Email</label>
                        <input type="email" name="email" class="form-control" required placeholder="seu@email.com">
                    </div>
                    <div class="mb-3">
                        <label>Senha</label>
                        <input type="password" name="senha" class="form-control" required placeholder="******">
                    </div>
                    <button type="submit" class="btn btn-primary w-100 mb-3 fw-bold">ENTRAR</button>
                    
                    <div class="text-center">
                        <a href="{{ url_for('esqueci_senha') }}" class="text-info small text-decoration-none">Esqueci minha senha</a>
                        <br>
                        <a href="{{ url_for('reenviar_confirmacao') }}" class="text-warning small text-decoration-none">Não recebeu o email de confirmação?</a>
                        
                        <hr class="border-secondary my-3">
                        
                        <p class="small text-muted mb-0">Não tem conta? <a href="{{ url_for('cadastro') }}" class="text-white fw-bold text-decoration-none">Crie uma agora</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}